body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

.header {
  text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
}

.manage-photos {
  background-color: #FFF;
  text-align: center;
}

label {
  display: flex;
}

.submission-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%
}

/* .choose-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
} */



.upload,
.add-button {
  background-color: #d3d3d3;
  border: none;
  border-radius: 4px;
  color: #300948;
  display: inline-block;
  font-size: 14px ;
  margin: 20px 0px;
}

.upload:hover,
.add-button:hover {
  background-color: #939393;
}

.upload label {
  cursor: pointer;
  padding: 20px 50px;
}

/* PHOTO GALLERY SECTION */

.display-photos {
  /* background-color: #e9e9e9; */
  background-color: #FFF;
  height: 100%;
}

/* UNIQUE PHOTO POSTS */

.unique-post {
  background-color: #FFF;
  border: 2px solid #d3d3d3;
  width: 200px;
  margin: 30px 20px;
}

.unique-post img {
  width: 100%;
  margin: 0px;
}

.unique-post p {
  height: 20px;
  margin: 0px;
}

.photo-interactive-container {
  background-color: #d3d3d3;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.photo-interactive-container img {
  padding: 10px;
  width: 30px;
}