body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

.header {
  display: flex;
  justify-content: space-between;
}

.manage-photos {
  background-color: #3E2A35;
  text-align: center;
}

label {
  display: flex;
}

.submission-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%
}

/* .choose-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
} */

.search-input {
  height: 20px;
  width: 200px;
}

.upload,
.add-button {
    border: none;
    font-size: 14px ;
    color: #FFF;
    background-color: #5B4447;
    display: inline-block;
    margin: 20px 0px;
}

.upload:hover,
.add-button:hover {
  background-color: #938284;
}

.upload label {
  cursor: pointer;
  padding: 20px 50px;
}


.add-or-favorite-button {
  text-align: center;
}

/* PHOTO GALLERY SECTION */

.display-photos {
  background-color: #C2B2B4;
  height: 100vh;
  padding: 20px;
}

/* UNIQUE PHOTO POSTS */

.unique-post {
  background-color: #FFF;
  width: 200px;
}

.unique-post img {
  width: 100%;
  margin: 0px;
}

.unique-post p {
  height: 20px;
  margin: 0px;
}

.post-text {
  color: rebeccapurple;
}

.photo-interactive-container {
  background-color: #5B4447;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.photo-interactive-container img {
  padding: 10px;
  width: 30px;
}