body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

.header {
  display: flex;
  justify-content: space-between;
}

.manage-photos {
  background-color: #3E2A35;
  text-align: center;
}

label {
  display: flex;
}

.submission-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%
}

/* .choose-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
} */

.search-input {
  height: 20px;
  width: 200px;
}

.upload,
.fave-button,
.add-button {
    font-size: 14px ;
    color: #FFF;
    background-color: #5B4447;
    display: inline-block;
    margin: 20px 0px;
}

.upload:hover,
.fave-button:hover,
.add-button:hover {
  background-color: #938284;
}

.upload label {
  cursor: pointer;
  padding: 20px 50px;
}


.add-or-favorite-button {
  display: flex;
  justify-content: space-between;
}

.display-photos {
  background-color: #C2B2B4;
  height: 100px;
}